.item_container{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.item_info{
    margin: auto;
}

.item_head{
  
    margin-top: 40px;
}

.item_head h3{
    text-align: center;
    font-size: 25px;
}

 .item_rating{
    float: right;
    margin-right:10px;
  
} 

.item_description{
    padding: 20px 50px ;
}

.item_image{
    text-align: center;
}
.item_image img{
       margin: auto ;
       width: 15%;
}

.item_price{
  margin-left:60px ;
} 
.item_price strong{
    font-size: 20px;
}
.buttons{
    text-align: center;
}

.item_container  button{
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 8px 50px;
    border-radius: 2px;
    width: 350px;
    margin: 1rem auto;

   
}

#buy_button{
    width: 350px;
    background:rgb(236, 221, 84);
}


.item_container  button:hover{
    background: #dbaf3f;
 
}

#buy_button:hover{
    background: #cac842;
}