
.header_search{
    display: flex;
 
    align-items: center;
  
}


.header_searchText{
    height: 2rem;
    padding: 10px;
    border: none;
    width:35rem;
}
.header_searchText:focus{
outline: none;
}
::placeholder{
    font-size: 0.8rem;
}
.header_searchIcon {
    padding:1px;
    height:32px !important;
    width: 32px !important;
    background-color: #cd9042;
    color: black;

}

.header_searchIcon:hover{
    cursor: pointer;
}

.showResult{
    position: absolute;
    top: 62px;
    width: 480px;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px grey;
}

.showResult::-webkit-scrollbar{
    display: none;
}

#searchItem{
    text-decoration: none;
    color: black;
    font: small arial ;
   
}

#searchItem:hover{
 background-color: rgb(219, 218, 218);
}
