.login{
background-color: white;
display: flex;
flex-direction: column;
align-items: center;

}

.login_logo{
    margin: auto;
    object-fit: contain;
    width: 200px;
    
}

.login_container{
    border: 1px solid lightgray;
    padding-left: 20px;
    width: 500px;
}

.sign_in_title{
    margin: 10px auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.login_input{
    width: 90%;
    height: 30px;
}
.create_account_button,.sign_in_button{
    display: block;
    width: 90%;
    margin: 15px 0;
    height: 35px;
    font-size: 15px;
}

.login_input:focus{
    outline:none;
    border:1px solid orange;
    box-shadow: 0.5px 0.5px 1px 2px rgb(235, 190, 108);
}
 .sign_in_button{
 
        background: #f0c14b;
        border: 1px solid rgb(95, 95, 95);
 
    }
 
    .sign_in_button:hover{
        background: #dbaf3f;
     
    }


    /* signup */

    .c_password_block{
        position: relative;

    }

   

    .visibility_icon{
        position: absolute ;
        right: 55px;
        top: 37px;
    }


    /* logout */
    .logout_button{
        text-align: center;
    }

    .logout_button button{
        width: 200px;
        line-height: 50px;
        margin: 140px;
        background: #f0c14b;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
    
        color: #111;
        padding: 5px;
       
    }

    .logout_button  button:hover{
        background: #dbaf3f;
     
    }