
.header_search{
    display: flex;
    /* flex:5 !important; */
    /* width: 60vw; */
    align-items: center;
  
}


.header_searchText{
    height: 12px;
    padding: 10px;
    border: none;
    width:50vw;
}
.header_searchText:focus{
outline: none;
}


.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;

}

.header_searchIcon:hover{
    cursor: pointer;
}

.showResult{
    position: absolute;
    top: 60px;
    width: 70vw;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 10px;
}

.showResult::-webkit-scrollbar{
    display: none;
}

#searchItem{
    text-decoration: none;
    color: black;
    font: small arial ;
   
}

#searchItem:hover{
 background-color: rgb(219, 218, 218);
}
@media (max-width:600px) {
    .header_searchText{
       width: 20vw;
    }
}